@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<dl>
    @foreach (var item in User.Claims)
    {
        <dt>@item.Type</dt>
        <dt>@item.Value</dt>
    }
</dl>
